<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- Cloned by RabinsXP.com-->
<head>
    <title>Dashboard</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="static/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="static/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="static/assets/plugins/animate.css">
    <link rel="stylesheet" href="static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="static/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="static/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="static/assets/css/pages/profile.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="static/assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="static/assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="static/assets/css/custom.css">
</head>

<body>

<div class="wrapper">
    <div class="header">
        <div class="container">
            <!-- Logo -->
                <a class="logo" href="{{url_for ('profile_main')}}">
                <img src="static/assets/img/logo1-default.png" alt="Logo">
            </a>
            <!-- End Logo -->

            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">

                    <li>{{user}}</li>
                    <!--<li><a href="{{url_for ('registration')}}">Registration</a></li>-->
                    <li class="topbar-devider"></li>
                    <!--<li>{{ user }}</li>-->
                    <li> <a href="{{url_for ('login')}}"><u>Sign Out </u> </a></li>

                </ul>
            </div>

        </div><!--/end container-->


        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">

            </div>
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <img class="img-responsive profile-img margin-bottom-20" src="static/assets/img/team/img32-md.jpg" alt="">

           <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item active">
                        <a href="{{url_for ('profile_main')}}"><i class="fa fa-bar-chart-o"></i> Home</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{url_for ('my_projects')}}"><i class="fa fa-cubes"></i> My Projects</a>

                    <li class="list-group-item">
                        <a href="{{url_for ('my_history')}}"><i class="fa fa-comments"></i> History</a>
                    </li>
                       <li class="list-group-item">
                        <a href="{{url_for ('my_profile')}}"><i class="fa fa-user"></i> My Profile</a>
                    </li>
                </ul>
            </div>
            <div align="center" id="div_video">

            <!--< align="center">-->
                <!--<img src="static/assets/img/bore128.jpg" width="650" height="500">-->
                <!--< img width="650" height="500" src="bore128.png"/>-->
                <!--<iframe   width="650" height="500" src="{{url_for ('video_feed')}}"-->
                            <!--frameborder="100" allowfullscreen style="display: none;"></iframe>-->

                <!--<iframe  width="650" height="500" src="{{url_for ('video_feed')}}"-->
                <!--frameborder="100" allowfullscreen></iframe>-->
            </div>


              <div  id="head_text" class="headline-center">
            <h1 style="padding-top:30px" > True-Face </h1>
            <p>Ture-Face the application which can be used to detect <br>
            human facial expression from single or multiple face.Then a graphical representation<br>
            of facial expression can also be generated from video input. Every user will have to <br>
                register his account in order to use that application.
            </p>
                   <hr>
                   <hr>
              </div>
            <div id="home_buttons" align="center">
                    <li style="margin-bottom: 15px;"><a href="#"> <button id="video_stream"class="btn-u pull-center" style="width:205px">Play Video (DEMO)</button></a></li>
                <li style="margin-bottom: 15px;"> <a href="{{url_for('New_Project')}}"> <button  class="btn-u pull-center" style="width:205px">Create New Project</button></a></li>
                <li style="margin-bottom: 15px;"><a href="{{url_for('User_Guide')}}"><button  class="btn-u pull-center" style="width:205px" >User Guide</button></a></li>

                <!--<li style="margin-bottom: 15px;"><a href="{{url_for('graph')}}"><button  class="btn-u pull-center" style="width:205px" >Draw Graph</button></a></li>-->

            </div>
            <div id="Stop_button" >
<!--                <a href="#"> <button id="stop_stream"class="btn-u pull-center" style="width:200px"> Stop Live Streaming</button></a>-->
            </div>
            <div id="show_graph" align="center">
                <!--<a href="#"> <button id="show_graphs" class="btn-u pull-center" style="width:205px">Graphical Representation </button></a>-->
                 <!--<a href="#"> <button id="home" class="btn-u pull-center" style="width:200px"> Home </button></a>-->
            </div>

            <hr>
    </div>
    </div>
<hr style="border-top: dotted 3px;" />

</div><!--/wrapper-->
<!-- JS Global Compulsory -->
<script type="text/javascript" src="static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="static/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="static/assets/plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/counter/jquery.counterup.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="static/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="static/assets/js/app.js"></script>
<script type="text/javascript" src="static/assets/js/plugins/datepicker.js"></script>
<script type="text/javascript" src="static/assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initCounter();
        App.initScrollBar();
        Datepicker.initDatepicker();
        StyleSwitcher.initStyleSwitcher();
    });


    $("#video_stream").click(function(){

     $("#head_text").hide()
     $("#Stop_button").replaceWith('<a href="{{url_for('graph')}}"> <button id="stop_stream"class="btn-u pull-bottom" style="margin-top:200px"> Stop Video</button></a>')
     console.log("Clicked_Again. . .");
     $("#home_buttons").hide()
     $("#div_video").replaceWith('<iframe  align="center" width="650" height="500" src="{{url_for ('video_feed')}}" frameborder="100" allowfullscreen ></iframe>'

)});


$('#stop_stream').click(function(){
console.log("stop stream clicked");
$("#div_video").hide()

$("#home_buttons").hide()
$("#home_buttons").replaceWith('<a href="#"> <button id="graph"class="btn-u pull-bottom" style="margin-top:200px"> Show graph</button></a>')

$("#head_text").hide()
});



</script>
<!--[if lt IE 9]>
    <script src="static/assets/plugins/respond.js"></script>
    <script src="static/assets/plugins/html5shiv.js"></script>
    <script src="static/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</div>
</body>

<!-- Cloned by RabinsXP.com-->
</html>
